@model Partners.ViewModel.PartnerViewModel

@{
    ViewBag.Title = "Partner List";
}

@{ Html.RenderPartial("_Notification"); }

<h1>Partner List</h1>
<div class="row mb-3">
    <div class="col-md-12">
        <a href="@Url.Action("Create", "Partner")" class="btn btn-primary">Add Partner  <i class="bi bi-person-plus"></i></a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Partner Number</th>
                <th>Croatian PIN</th>
                <th>Partner Type</th>
                <th>Created At</th>
                <th>Is Foreign</th>
                <th>Gender</th>
                <th>Create Policy</th>
                <th>View Policies</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var partner in Model.partners)
            {
                <tr data-partner-id="@partner.Id" style="@(Model.postCreated && partner == Model.partners.FirstOrDefault() ? "background-color: #d1ffd1; font-weight: bold;" : "")">
                    <td>@(partner.NumberOfPolicies > 5 || partner.PoliciesTotalAmount > 5000 ? "*" + partner.FirstName + " " + partner.LastName : partner.FirstName + " " + partner.LastName)</td>
                    <td>@partner.PartnerNumber</td>
                    <td>@partner.CroatianPIN</td>
                    <td>@partner.PartnerTypeId</td>
                    <td>@partner.CreatedAtUtc</td>
                    <td>@(partner.IsForeign ? "Yes" : "No")</td>
                    <td>@partner.Gender</td>
                    <td>
                        <button type="button" class="btn btn-primary create-policy" data-partner-id="@partner.Id">
                            Create Policy <i class="bi bi-folder-plus"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info view-policy" data-partner-id="@partner.Id">
                            View Policies <i class="bi bi-binoculars"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="partnerDetailsContainer"></div>
<div id="viewPoliciesContainer"></div>
<div id="createPolicyContainer"></div>

<script>
    $(document).ready(function() {
        $('table').on('click', 'tr', function () {
            if ($(event.target).is('button')) {
                return;
            }
            if ($(event.target).closest('button').length) {
                return;
            }
            var partnerId = $(this).data('partner-id');

            $.get('@Url.Action("GetPartnerDetails", "Partner")', { id: partnerId }, function(data) {
                $('#partnerDetailsContainer').html(data);
                $('#partnerModal').modal('show');
            });
        });

        $('.view-policy').click(function () {
            var partnerId = $(this).closest('tr').data('partner-id');
            var url = '@Url.Action("ShowPolicies", "Policy")' + '?Id=' + partnerId;
            $.get(url, function (data) {
                $('#viewPoliciesContainer').html(data);
                $('#viewPoliciesModal').modal('show');
            });
        });

        $('.create-policy').click(function () {
            var partnerId = $(this).closest('tr').data('partner-id');
            var url = '@Url.Action("Create", "Policy")' + '?Id=' + partnerId;
            $.get(url, function (data) {
                $('#createPolicyContainer').html(data);
                $('#createPolicyModal').modal('show');
            });
        });
    });
</script>